nav{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 700;
}
#nombre{
    font-weight: 900;
    border-bottom: 3px solid #ffc107; /* Color "warning" de Bootstrap */
}

.nav-link{
    color: white;
    text-decoration: none;
    padding-bottom: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover{
    color:white;
    border-color: #ffc107;
    text-decoration: underline #ffc107;
    transition: all 0.3s ease-in-out;
}