.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease, margin-left 0.5s ease;
  margin-left: -50px; /* Ajusta el valor según el efecto deseado */
}

.visible {
  opacity: 1;
  margin-left: 0;
}

.contenedor-principal {
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 1rem;
  color:white;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat;
  grid-template-rows: repeat;
  grid-column-gap: 2%;
}


.mainDescription {
  font-size: 1.3rem;
  font-weight: 200;
  margin-bottom: 1rem;
  color: transparent;
  border: 2px solid white;
  display: flex;
  position: relative;
  border-radius: 0.5rem;
  flex-flow: row wrap;;
}

.mainDescription:hover::before {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

.align-middle {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: flex-end;
}

.TitleMainDescription{
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.custom-size-1 {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.custom-size-1 > h4 {
  color: #ffc107;
}

.custom-size-1::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  border-radius: 0.5rem;
  border-top: 5px solid #ffc107; /* Color "warning" de Bootstrap */
  border-left: 5px solid #ffc107; /* Color "warning" de Bootstrap */
  transition: width 0.5s, height 0.5s, border-color 0.5s; /* Duración de la transición */
  transition-delay: 0.3s; /* Retardo en la transición para lograr el efecto secuencial */
}

.custom-size-1:hover {
  transition: 1s;
  color: white;
  box-shadow: 0 4px 16px 0 #ffc107;
}

.custom-size-2 {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.custom-size-2 > h4 {
  color: #0d6efd;
}

.custom-size-2::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  border-radius: 0.5rem;
  border-top: 5px solid #0d6efd; /* Color "warning" de Bootstrap */
  border-left: 5px solid #0d6efd; /* Color "warning" de Bootstrap */
  transition: width 0.5s, height 0.5s, border-color 0.5s; /* Duración de la transición */
  transition-delay: 0.3s; /* Retardo en la transición para lograr el efecto secuencial */
}

.custom-size-2:hover {
  transition: 1s;
  color: white;
  box-shadow: 0 4px 16px 0 #0d6efd;
}

.custom-size-3 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.custom-size-3 > h4 {
  color: #dc3545;
}

.custom-size-3::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  border-radius: 0.5rem;
  border-top: 5px solid #dc3545; /* Color "warning" de Bootstrap */
  border-left: 5px solid #dc3545; /* Color "warning" de Bootstrap */
  transition: width 0.5s, height 0.5s, border-color 0.5s; /* Duración de la transición */
  transition-delay: 0.3s; /* Retardo en la transición para lograr el efecto secuencial */
}

.custom-size-3:hover {
  transition: 1s;
  color: white;
  box-shadow: 0 4px 16px 0 #dc3545;
}

.custom-size-4 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.custom-size-4 > h4 {
  color: #fd7e14;
}

.custom-size-4::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  border-radius: 0.5rem;
  border-top: 5px solid #fd7e14; /* Color "warning" de Bootstrap */
  border-left: 5px solid #fd7e14; /* Color "warning" de Bootstrap */
  transition: width 0.5s, height 0.5s, border-color 0.5s; /* Duración de la transición */
  transition-delay: 0.3s; /* Retardo en la transición para lograr el efecto secuencial */
}

.custom-size-4:hover {
  transition: 1s;
  color: white;
  box-shadow: 0 4px 16px 0 #fd7e14;
}

.custom-size-5 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.custom-size-5 > h4 {
  color: #198754;
}

.custom-size-5::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  border-radius: 0.5rem;
  border-top: 5px solid #198754; /* Color "warning" de Bootstrap */
  border-left: 5px solid #198754; /* Color "warning" de Bootstrap */
  transition: width 0.5s, height 0.5s, border-color 0.5s; /* Duración de la transición */
  transition-delay: 0.3s; /* Retardo en la transición para lograr el efecto secuencial */
}

.custom-size-5:hover {
  transition: 1s;
  color: white;
  box-shadow: 0 4px 16px 0 #198754;
}

.custom-size-6 {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
}

.custom-size-6 > h4 {
  color: #f8f9fa;
}

.custom-size-6::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  border-radius: 0.5rem;
  border-top: 5px solid #f8f9fa; /* Color "warning" de Bootstrap */
  border-left: 5px solid #f8f9fa; /* Color "warning" de Bootstrap */
  transition: width 0.5s, height 0.5s, border-color 0.5s; /* Duración de la transición */
  transition-delay: 0.3s; /* Retardo en la transición para lograr el efecto secuencial */
}

.custom-size-6:hover {
  transition: 1s;
  color: white;
  box-shadow: 0 4px 16px 0 #f8f9fa;
}

#welcomePortfolio{
  font-size: 70px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 2;
  text-align: center;
  margin-top: 50px;
}

@media only screen and (max-width: 767px) {
  .fade-in,
  .visible {
    opacity: 1;
    margin-left: 0;
  }
  
  .contenedor-principal {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 10%;
  }
  
  .mainDescription {
    font-size: 1.1rem;
    border: 1px solid white;
  }
  
}